.tableRowEven {
    background-color: aliceblue;
}
.tableRowOdd {
    background-color: azure;
}
/* .tableRowEven:hover {
    background-color: #03203a;
    color: aliceblue;
    
}
.tableRowOdd:hover {
    background-color: #0d1f33;
    color: azure;
} */
.quantityInput {
    max-width: 50px;
}