@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 10%;
    
}

form{
       width: 420px;
}

.name {
    /* padding: 7px; */
    font-family:'Play', sans-serif; 
    font-size: 15px;
    height:2rem;
    color: var(--text);
    border-radius: 4px;
    width: 20rem;
    margin-right: 0.3rem;
}

.input::placeholder {
    color: var(--text);
}

input:focus {
    outline: none;
}

.btns2 {
    padding: 0px 17px 0px 17px;
    font-family:'Play', sans-serif; 
    font-size: 15px;
    height:2.2rem;
    color: var(--text);
    background-color: deepskyblue;
    border-radius: 4px;
    border: none;
    font-weight: bold;
  }

.btns2:hover{
    border: 1px solid var(--text);
    cursor: pointer;
}
