.cart {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
        2.6deg,
        rgb(126, 154, 191) 16%,
        rgb(254, 255, 255) 91.1%);
}
.fullDiv {
    display: flex;
    justify-content: center;   
    font-family:'Poppins', sans-serif; 
    font-size: 2em;
    margin-bottom: 10px;
}
.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.homeButtonPlusTitle {
    display: flex;

}
.orderTotalAddressAndBuy {
    display: flex;
    flex-direction: column;
}
.orderTotal {
    align-self: flex-end;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family:'Poppins', sans-serif; 
    font-weight: 300;
    font-size: 1.5rem;
}
.addressDiv {
    align-self: flex-end;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family:'Poppins', sans-serif; 
    font-weight: 300;
    font-size: 1.5rem;
}
.addressDivLabel {
    margin-right: 15px;
}
.addressDivInput {
    width: 450px;
}
.buyButton {
    width: 180px;
    align-self: center;
}
