.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 100vh;
    padding: 2rem;
  }
.header {
  font-family:'Poppins', sans-serif; 
  font-weight: 300;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-evenly;
}
.cart {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-image: linear-gradient(
        2.6deg,
        rgb(126, 154, 191) 16%,
        rgb(254, 255, 255) 91.1%);
}
.fullDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   
    font-family:'Poppins', sans-serif; 
    font-size: 2em;
    margin-bottom: 10px;
}
.homeButtonPlusTitle {
    display: flex;

}
.orderTotalAddressAndBuy {
    display: flex;
    flex-direction: column;
    min-height: 55vh;
    overflow: hidden;
}
.orderTotal {
    align-self: flex-end;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    /* position: relative; */
    margin-top: 10px;
    margin-bottom: 15px;
    font-family:'Poppins', sans-serif; 
    font-weight: 300;
    font-size: 1.5rem;
    padding-left: 0.2rem;
}
.addressDiv {
    align-self: flex-end;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family:'Poppins', sans-serif; 
    font-weight: 300;
    font-size: 1.5rem;
}
.addressDivLabel {
    margin-right: 0.2rem;
    width: auto;
}
.addressDivInput {
    width: 70%;
    margin-right: 0.2rem;
}
.buyButton {
    width: 180px;
    align-self: center;
}


@media screen and (max-width:768px) {
  .addressDivLabel {
    margin-right: 0.2rem;
    max-width:min-content;
}
}

@media screen and (max-width:425px) {
    .header {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    .addressDivLabel {
        font-size: medium;
      
  }
  .trade{
   
    display: flex;
   
    
  }
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 1rem;
    
  }
  .cart{
    padding: 5px;
    border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   
  }
  
  
  
  
  }