.fullDiv {
    display: flex;
    background-color: #0a1929;
    color: #e7ebf0;
    justify-content: center;   
}
.mainDiv {
    min-width: 1000px;
    max-width: 1920px;
    min-height: 1440px;
    text-align: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.homeButtonPlusTitle {
    display: flex;

}
.volverAtras {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    min-width: 110px;
    max-height: 40px;
    border: 2px solid black;
    background-color: #66bb6a;
    border-radius: 25px;
}
.volverAtras:hover {
    border: 4px solid black;
    background-color: #25962b;
    font-weight: bolder;
}
.tableTitle {
    align-self: center;
}
.filler {
    min-height: 100px;
}
.reload{
    background-color: lightgray;
    color: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
}