
.fulldiv{
  color: white;
  background-color: #13304e;
  height: 100vh;
}
.goback {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  min-width: 110px;
  max-height: 40px;
  border: 2px solid black;
  background-color: #66bb6a;
  border-radius: 25px;
}
.ordercard{
  font-size: 30px;
  margin-top: 30px;
  margin-left: 15px;

}