.modal{
  position:absolute;
  z-index:999;
  top:0;
  left:0;
  width:100%;
  min-height:100vh;
  display:none;
  background-color: rgba(0,0,0,0.75);
  justify-content: center;
  align-items: center;
  
}

.modal.login_open{
display: flex;
}
.modal_container{
position: relative;
padding: 1rem;
min-width: 400px;
max-width: 600px;
min-height: 200px;
max-height: 600px;
/* overflow-y: auto; */
background: linear-gradient(rgb(220, 228, 227), rgb(161, 197, 202));
border-radius: 10px;
}
.modal_close{
position:absolute;
top:1rem;
right: 1rem;
}
.logo_container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo_image{
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  width: 8rem;
  height: 8rem;
}
.danger {
  color: red;
  font-size: 0.8rem;
  margin: 0;
}
.formCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 40px;
  padding: 10px;
  
}
.inputCard {
  width: 90%;
  font-size: 1.1rem;
}
.password_input{
  padding-bottom: 20px;
}
.textSocial {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 90%;
  font-size: 1.1rem;
  
}

.btns {
  color: #fff;
  padding: 0px 17px 0px 17px;
  font-family:'Poppins', sans-serif; 
  font-size: 1em;
  height:2rem;
  background-color: #0c3d76b8;
  border-radius: 4px;
  border: none;
  margin-top: 0;
  width: 85%;
}
.btns:hover{
  border: 1px solid  #0c3d76b8;
  cursor: pointer;
}
.btns_close {
  color: #fff;
  padding: 0px 17px 0px 17px;
  font-family:'Poppins', sans-serif; 
  font-size: 1em;
  height:2rem;
  background-color: #0c3d76b8;
  border-radius: 4px;
  border: none;
  margin-top: 0;
  
}
.btns_close:hover{
  border: 1px solid  #0c3d76b8;
  cursor: pointer;
}
.sing_redirection{
  display:flex;
  justify-content: center;
}